Repository aws-solutions/connected-mobility-solution-on-aws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, detect-empty-files, pylint, cfn-nag, pytest-jest, module-alerts-hooks, module-api-hooks, module-connect-store-hooks, module-ev-battery-health-hooks, module-provisioning-hooks, module-user-authentication-hooks, module-vehicle-simulator-hooks

check-bash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash -n

detect-empty-files:
  name: Detect empty files in the repo
  entry: deployment/detect-empty-files.sh
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  args:
  - --extension-pkg-allow-list
  - math
  language: system
  require_serial: true

cfn-nag:
  name: cfn-nag
  entry: deployment/run-cfn-nag.sh
  args:
  - --no-nested
  language: system
  pass_filenames: false

pytest-jest:
  name: pytest-jest
  entry: deployment/run-unit-tests.sh
  args:
  - --no-report
  - --no-nested
  language: system
  pass_filenames: false

module-alerts-hooks:
  name: CMS Alerts hooks
  language: script
  args:
  - --module
  - alerts
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

module-api-hooks:
  name: CMS API hooks
  language: script
  args:
  - --module
  - api
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

module-connect-store-hooks:
  name: CMS Connect & Store hooks
  language: script
  args:
  - --module
  - connect_store
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

module-ev-battery-health-hooks:
  name: CMS EV Battery Health hooks
  language: script
  args:
  - --module
  - ev_battery_health
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

module-provisioning-hooks:
  name: CMS Provisioning hooks
  language: script
  args:
  - --module
  - provisioning
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

module-user-authentication-hooks:
  name: CMS User Authentication hooks
  language: script
  args:
  - --module
  - user_authentication
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

module-vehicle-simulator-hooks:
  name: CMS Vehicle Simulator hooks
  language: script
  args:
  - --module
  - vehicle_simulator
  - --files-list
  entry: ./deployment/run_module_hooks.py
  verbose: true
  require_serial: true

remove requirements.txt files since they are generated from PipFiles
  requirements.txt
  source/backstage/cdk/requirements.txt
  templates/environments/cms_environment/v1/infrastructure/requirements.txt
  templates/modules/cms_alerts_on_aws/v1/instance_infrastructure/requirements.txt
  templates/modules/cms_api_on_aws/v1/instance_infrastructure/requirements.txt
  templates/modules/cms_connect_store_on_aws/v1/instance_infrastructure/requirements.txt
  templates/modules/cms_ev_battery_health_on_aws/v1/instance_infrastructure/requirements.txt
  templates/modules/cms_provisioning_on_aws/v1/instance_infrastructure/requirements.txt
  templates/modules/cms_user_authentication_on_aws/v1/instance_infrastructure/requirements.txt
  templates/modules/cms_vehicle_simulator_on_aws/v1/instance_infrastructure/requirements.txt
Due: detect-empty-files, module-alerts-hooks, module-api-hooks, module-connect-store-hooks, module-ev-battery-health-hooks, module-provisioning-hooks, module-user-authentication-hooks, module-vehicle-simulator-hooks

use versioned engine for backstage postgres along with the parametergroup
  source/backstage/cdk/source/infrastructure/stacks/env.py
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Version 1.1.2 Release
  .github/ISSUE_TEMPLATE/bug_report.md
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/src/api/acdp-build-api.test.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/service/acdp-build-service.test.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/service/acdp-build-service.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/utils/aws-s3-helper.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/utils/validators.ts
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/acdp/backstage/plugins/acdp/src/components/CodeBuildWidget/TeardownConfirmDialog/TeardownConfirmDialog.tsx
  source/modules/acdp/backstage/plugins/acdp/src/components/CodeBuildWidget/TeardownConfirmDialog/useTeardownConfirmDialogState.ts
  source/modules/acdp/backstage/plugins/acdp/src/components/CodeBuildWidget/WidgetContent.tsx
  source/modules/acdp/backstage/yarn.lock
  source/modules/cms_alerts/README.md
  source/modules/cms_api/source/infrastructure/constructs/athena_data_source.py
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

set changelog date
  CHANGELOG.md
Due: detect-empty-files

Feature: Added Dev Container definitions for easier Build/Dev Environment Setup WiP: Tests for the Container Images Bugs: Hopefully none
  .devcontainer.json
  .devcontainer/devcontainer.json
Due: detect-empty-files

release v1.1.3
  CHANGELOG.md
  Pipfile.lock
  makefiles/common_config.mk
  source/lib/Pipfile.lock
  source/lib/setup.py
  source/modules/acdp/Pipfile.lock
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/cdk/Pipfile.lock
  source/modules/acdp/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/src/api/acdp-build-api.test.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/service/acdp-build-service.test.ts
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/auth_setup/Pipfile.lock
  source/modules/auth_setup/source/tests/infrastructure/__snapshots__/test_snapshot/test_auth_setup_snapshot.json
  source/modules/cms_alerts/Pipfile.lock
  source/modules/cms_api/Pipfile.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_auth/Pipfile.lock
  source/modules/cms_config/Pipfile.lock
  source/modules/cms_connect_store/Pipfile.lock
  source/modules/cms_ev_battery_health/Pipfile.lock
  source/modules/cms_ev_battery_health/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_ev_battery_health_snapshot.json
  source/modules/cms_fleetwise_connector/Pipfile.lock
  source/modules/cms_fleetwise_connector/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_fleetwise_connector_snapshot.json
  source/modules/cms_provisioning/Pipfile.lock
  source/modules/cms_sample/Pipfile.lock
  source/modules/cms_vehicle_simulator/Pipfile.lock
  source/modules/cms_vehicle_simulator/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_vehicle_simulator_snapshot.json
  source/modules/vpc/Pipfile.lock
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

update changelog release date
  CHANGELOG.md
Due: detect-empty-files

revert alteration to 1.1.2 release date
  CHANGELOG.md
Due: detect-empty-files

Version v1.1.3 Release
  CHANGELOG.md
  Pipfile.lock
  makefiles/common_config.mk
  source/lib/Pipfile.lock
  source/lib/setup.py
  source/modules/acdp/Pipfile.lock
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/cdk/Pipfile.lock
  source/modules/acdp/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/src/api/acdp-build-api.test.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/service/acdp-build-service.test.ts
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/auth_setup/Pipfile.lock
  source/modules/auth_setup/source/tests/infrastructure/__snapshots__/test_snapshot/test_auth_setup_snapshot.json
  source/modules/cms_alerts/Pipfile.lock
  source/modules/cms_api/Pipfile.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_auth/Pipfile.lock
  source/modules/cms_config/Pipfile.lock
  source/modules/cms_connect_store/Pipfile.lock
  source/modules/cms_ev_battery_health/Pipfile.lock
  source/modules/cms_ev_battery_health/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_ev_battery_health_snapshot.json
  source/modules/cms_fleetwise_connector/Pipfile.lock
  source/modules/cms_fleetwise_connector/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_fleetwise_connector_snapshot.json
  source/modules/cms_provisioning/Pipfile.lock
  source/modules/cms_sample/Pipfile.lock
  source/modules/cms_vehicle_simulator/Pipfile.lock
  source/modules/cms_vehicle_simulator/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_vehicle_simulator_snapshot.json
  source/modules/vpc/Pipfile.lock
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

fix README regarding build
  README.md
Due: detect-empty-files

Update Makefile
  Makefile
Due: detect-empty-files

Update to v.1.1.4
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/src/api/acdp-build-api.test.ts
  source/modules/acdp/backstage/plugins/acdp-backend/src/service/acdp-build-service.test.ts
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/acdp/backstage/yarn.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_fleetwise_connector/source/infrastructure/constructs/module_integration.py
  source/modules/cms_fleetwise_connector/source/infrastructure/constructs/s3_glue_athena.py
  source/modules/cms_fleetwise_connector/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_fleetwise_connector_snapshot.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Release v1.1.5
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/acdp/backstage/README.md
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/acdp/backstage/yarn.lock
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, pytest-jest

Version v1.1.6 release
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/acdp/backstage/yarn.lock
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, pytest-jest

Version 1.1.7
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/acdp/backstage/yarn.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, pytest-jest

Version v1.1.8 release
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/acdp/backstage/cdk/Makefile
  source/modules/acdp/backstage/package.json
  source/modules/acdp/backstage/packages/app/package.json
  source/modules/acdp/backstage/packages/backend/package.json
  source/modules/acdp/backstage/plugins/acdp-backend/package.json
  source/modules/acdp/backstage/plugins/acdp-common/package.json
  source/modules/acdp/backstage/plugins/acdp/package.json
  source/modules/acdp/backstage/yarn.lock
  source/modules/cms_api/deployment/postman_collection/package.json
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, pytest-jest

update deployment order diagram
  documentation/architecture/diagrams/deployment-order.svg
Due: detect-empty-files

Version 1.2.1 release
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Version v1.2.2
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Version v1.2.2 (#40)
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Version v2.0.1
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering-backend/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_predictive_maintenance/pyproject.toml
  source/modules/cms_predictive_maintenance/source/.cdk-nag-suppression-list.json
  source/modules/cms_predictive_maintenance/source/handlers/custom_resource/function/main.py
  source/modules/cms_predictive_maintenance/test_scripts/chatbot_query_knowledge_base.py
  source/modules/cms_predictive_maintenance/test_scripts/create_sagemaker_pipeline.py
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Version v2.0.1 (#45)
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering-backend/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_predictive_maintenance/pyproject.toml
  source/modules/cms_predictive_maintenance/source/.cdk-nag-suppression-list.json
  source/modules/cms_predictive_maintenance/source/handlers/custom_resource/function/main.py
  source/modules/cms_predictive_maintenance/test_scripts/chatbot_query_knowledge_base.py
  source/modules/cms_predictive_maintenance/test_scripts/create_sagemaker_pipeline.py
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

fix: update changelog
  CHANGELOG.md
Due: detect-empty-files

fix changelog
  CHANGELOG.md
Due: detect-empty-files

Path conditions:
  check-bash-syntax: any of: \.sh$, but not: (^templates)
  detect-empty-files: any file but: (^templates)
  pylint: any of: \.py$, but not: (^templates)
  cfn-nag: any of: infrastructure and \.py$, \.json$ and not ((^templates))
  pytest-jest: any of: (^source) and \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((^templates))
  module-alerts-hooks: any of: ^templates/modules/cms_alerts_on_aws
  module-api-hooks: any of: ^templates/modules/cms_api_on_aws
  module-connect-store-hooks: any of: ^templates/modules/cms_connect_store_on_aws
  module-ev-battery-health-hooks: any of: ^templates/modules/cms_ev_battery_health_on_aws
  module-provisioning-hooks: any of: ^templates/modules/cms_provisioning_on_aws
  module-user-authentication-hooks: any of: ^templates/modules/cms_user_authentication_on_aws
  module-vehicle-simulator-hooks: any of: ^templates/modules/cms_vehicle_simulator_on_aws
