Repository aws-solutions/connected-mobility-solution-on-aws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, detect-empty-files, pylint, cfn-nag, pytest-jest, module-alerts-hooks, module-api-hooks, module-connect-store-hooks, module-ev-battery-health-hooks, module-provisioning-hooks, module-user-authentication-hooks, module-vehicle-simulator-hooks

Path conditions:
  check-bash-syntax: any of: \.sh$, but not: (^templates)
  detect-empty-files: any file but: (^templates)
  pylint: any of: \.py$, but not: (^templates)
  cfn-nag: any of: infrastructure and \.py$, \.json$ and not ((^templates))
  pytest-jest: any of: (^source) and \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((^templates))
  module-alerts-hooks: any of: ^templates/modules/cms_alerts_on_aws
  module-api-hooks: any of: ^templates/modules/cms_api_on_aws
  module-connect-store-hooks: any of: ^templates/modules/cms_connect_store_on_aws
  module-ev-battery-health-hooks: any of: ^templates/modules/cms_ev_battery_health_on_aws
  module-provisioning-hooks: any of: ^templates/modules/cms_provisioning_on_aws
  module-user-authentication-hooks: any of: ^templates/modules/cms_user_authentication_on_aws
  module-vehicle-simulator-hooks: any of: ^templates/modules/cms_vehicle_simulator_on_aws

Version v2.0.5 Release
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering-backend/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Version v2.0.5 Release (#51)
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering-backend/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Release v2.0.6
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering-backend/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

Release v2.0.6 (#52)
  CHANGELOG.md
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering-backend/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/backstage/yarn.lock
  source/modules/cms_vehicle_simulator/source/console/package-lock.json
  source/modules/cms_vehicle_simulator/source/console/package.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

fix: reorder find command options to avoid warnings
  Makefile
Due: detect-empty-files

release v2.1.2
  CHANGELOG.md
  Makefile
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/catalog-acdp-partner-offering-backend-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/cms_vehicle_simulator/source/infrastructure/constructs/cloudfront.py
  source/modules/cms_vehicle_simulator/source/infrastructure/constructs/console.py
  source/modules/cms_vehicle_simulator/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_vehicle_simulator_snapshot.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

release v2.1.2 (#59)
  CHANGELOG.md
  Makefile
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/catalog-acdp-partner-offering-backend-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/cms_vehicle_simulator/source/infrastructure/constructs/cloudfront.py
  source/modules/cms_vehicle_simulator/source/infrastructure/constructs/console.py
  source/modules/cms_vehicle_simulator/source/tests/infrastructure/__snapshots__/test_snapshot/test_cms_vehicle_simulator_snapshot.json
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

fix: update DeleteConfirmation modal state management
  source/modules/cms_vehicle_simulator/source/console/src/components/Shared/DeleteConfirmation.tsx
  source/modules/cms_vehicle_simulator/source/console/src/components/Shared/__tests__/DeleteConfirmation.test.tsx
Due: detect-empty-files, pytest-jest

fix: refactor simulation deletion modal state in TableData
  source/modules/cms_vehicle_simulator/source/console/src/components/Simulations/TableData.tsx
  source/modules/cms_vehicle_simulator/source/console/src/components/Simulations/__tests__/TableData.test.tsx
Due: detect-empty-files, pytest-jest

fix: update device type deletion modal state management
  source/modules/cms_vehicle_simulator/source/console/src/views/DeviceTypes.tsx
  source/modules/cms_vehicle_simulator/source/console/src/views/__tests__/DeviceTypes.test.tsx
Due: detect-empty-files, pytest-jest

Fixed a bug in the Vehicle Simulator regarding the deletion of items. (#60)
  source/modules/cms_vehicle_simulator/source/console/src/components/Shared/DeleteConfirmation.tsx
  source/modules/cms_vehicle_simulator/source/console/src/components/Shared/__tests__/DeleteConfirmation.test.tsx
  source/modules/cms_vehicle_simulator/source/console/src/components/Simulations/TableData.tsx
  source/modules/cms_vehicle_simulator/source/console/src/components/Simulations/__tests__/TableData.test.tsx
  source/modules/cms_vehicle_simulator/source/console/src/views/DeviceTypes.tsx
  source/modules/cms_vehicle_simulator/source/console/src/views/__tests__/DeviceTypes.test.tsx
Due: detect-empty-files, pytest-jest

release v2.1.3
  CHANGELOG.md
  deployment/script_generate_models.py
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/catalog-acdp-partner-offering-backend-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_vehicle_simulator/source/console/src/components/Simulations/__tests__/TableData.test.tsx
  source/modules/cms_vehicle_simulator/source/console/src/views/__tests__/DeviceTypes.test.tsx
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

release v2.1.3 (#61)
  CHANGELOG.md
  deployment/script_generate_models.py
  makefiles/common_config.mk
  source/lib/setup.py
  source/modules/backstage/cdk/source/tests/infrastructure/__snapshots__/test_snapshot/test_acdp_backstage_snapshot.json
  source/modules/backstage/package.json
  source/modules/backstage/packages/app/package.json
  source/modules/backstage/packages/backend/package.json
  source/modules/backstage/plugins/acdp-backend/package.json
  source/modules/backstage/plugins/acdp-common/package.json
  source/modules/backstage/plugins/acdp-partner-offering/package.json
  source/modules/backstage/plugins/acdp/package.json
  source/modules/backstage/plugins/auth-oauth2-provider-module/package.json
  source/modules/backstage/plugins/catalog-acdp-partner-offering-backend-module/package.json
  source/modules/backstage/plugins/techdocs-custom-build-strategy-module/package.json
  source/modules/cms_api/source/infrastructure/assets/graphql/schemas/vss_schema.graphql
  source/modules/cms_vehicle_simulator/source/console/src/components/Simulations/__tests__/TableData.test.tsx
  source/modules/cms_vehicle_simulator/source/console/src/views/__tests__/DeviceTypes.test.tsx
  source/modules/vpc/source/template.yaml
Due: detect-empty-files, pylint, cfn-nag, pytest-jest

release v2.1.4
  CHANGELOG.md
  source/modules/backstage/package.json
  source/modules/backstage/yarn.lock
Due: detect-empty-files

release v2.1.4
  CHANGELOG.md
Due: detect-empty-files

release v2.1.4 (#64)
  CHANGELOG.md
  source/modules/backstage/package.json
  source/modules/backstage/yarn.lock
Due: detect-empty-files
